body {
    background-color: #FFFBDE;
}

ul {
    position: sticky;
    top: 0;
    width: 100%;

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4682A9;

    border-radius: 25px;
}

li {
    float: left;
}

li h1, h2 {
    display: inline-block;
    color: #FFFBDE;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li p, a {
    display: block;
    color: #FFFBDE;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li h2 {
    padding-left: 100%;
}

div {
    background-color: #4682A9;
    border-radius: 25px;

    margin: 20vh;
    padding: 15vh;
    text-align: center;
}
